#### In this notebook, we will create a database in our MS SQL Server and populate it with synthetic data.

In [5]:
import pyodbc
import sys
import random
import pandas as pd
from faker import Faker

#### We've already created a database called `testDB1` on the MS SQL Server containing 3 empty tables: 

`CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(100),
    ContactName VARCHAR(100),
    Country VARCHAR(50)
);`

`CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100),
    SupplierID INT,
    CategoryID INT,
    UnitPrice DECIMAL(10, 2)
);`

`CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATETIME,
    TotalAmount DECIMAL(10, 2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);`

In [6]:
# establish connection with the local SQL server
conn_str = (
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=172.16.6.196,1433;"  # Use the IP address and port directly
    "Database=testDB1;"  
    "UID=wsl;" 
    "PWD=greatpond501;"  
)

print(conn_str)

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# test the connection
cursor.execute("SELECT @@version;")

Driver={ODBC Driver 17 for SQL Server};Server=172.16.6.196,1433;Database=testDB1;UID=wsl;PWD=greatpond501;

#### Now let's insert some fake data into our tables, we will use `pyodbc` to directly run SQL queries on the database.

In [7]:
# faker object for generating random fake data
fake = Faker()

In [22]:
num_rows = [1000, 2000, 5000]

customer_ids = random.sample(range(1, num_rows[0] + 1), num_rows[0])
product_ids = random.sample(range(1, num_rows[1] + 1), num_rows[1])
order_ids = random.sample(range(1, num_rows[2] + 1), num_rows[2])


# Clear out the tables
cursor.execute("DELETE FROM Orders")
cursor.execute("DELETE FROM Products")
cursor.execute("DELETE FROM Customers")
conn.commit()

In [23]:
# insert data into Customers table
for customer_id in customer_ids:
    cursor.execute("INSERT INTO Customers (CustomerID, CustomerName, ContactName, Country) VALUES (?, ?, ?, ?)",
                   (customer_id, fake.company(), fake.name(), fake.country()))

# insert data into Products table
for product_id in product_ids:
    cursor.execute("INSERT INTO Products (ProductID, ProductName, SupplierID, CategoryID, UnitPrice) VALUES (?, ?, ?, ?, ?)",
                   (product_id, fake.word(),fake.random_int(min=1, max=100), fake.random_int(min=1, max=100), fake.random_number(digits=2)))

# insert data into Orders table
for order_id in order_ids:
    cursor.execute("INSERT INTO Orders (OrderID, CustomerID, OrderDate, TotalAmount) VALUES (?, ?, ?, ?)",
                   (order_id, random.choice(customer_ids), fake.date_time_this_decade(), fake.random_number(digits=2)))


cursor.commit()
conn.close()

Now we're done populating the tables with synthetic data. Let's do a sanity check on the row counts.

In [25]:
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

queries = {"Customers" : "SELECT Count(*) FROM Customers", 
           "Products" : "SELECT Count(*) FROM Products",
           "Orders" : "SELECT Count(*) FROM Orders"}

# execute the queries and get the results
for table, query in queries.items():
    cursor.execute(query)
    rows = cursor.fetchone()[0]
    print(f"{table} table --> {rows} rows")


# show first 10 rows from each table
for table in queries.keys():
    query = f"SELECT TOP 10 * FROM {table}"
    df = pd.read_sql(query, conn)
    print(f"\n{table} table")
    print(df)

conn.close()

Customers table --> 1000 rows
Products table --> 2000 rows
Orders table --> 5000 rows

Customers table
   CustomerID                    CustomerName         ContactName  \
0           1     Norman, Preston and Vasquez   Elizabeth Cordova
1           2                 Noble-Rodriguez       Kristin Smith
2           3                   Howard-Medina       Kevin Holland
3           4                     Cole-Rogers      Clarence Davis
4           5  Lopez, Crawford and Livingston      Angela Roberts
5           6                      Clay-Davis        William Rose
6           7                   Miller-Greene     Laura Patterson
7           8      Ochoa, Lawrence and Conner  Christopher Brooks
8           9                    Gonzalez LLC    Patricia Watkins
9          10                    Terry-Jensen        Maxwell Khan

                  Country
0                  Tuvalu
1              Mozambique
2                 Denmark
3  Libyan Arab Jamahiriya
4                Zimbabwe
5                   Yemen
6                  Belize
7            South Africa
8                 Croatia
9                 Namibia

Products table
   ProductID   ProductName  SupplierID  CategoryID  UnitPrice
0          1      hospital          81          49       95.0
1          2            do          27          52       56.0
2          3       thought          69          71       54.0
3          4         would          98          64       76.0
4          5  professional          19          49       31.0
5          6           one          22          77       54.0
6          7        effort          83          89       84.0
7          8          deep           9          54       96.0
8          9       morning          70          85       58.0
9         10       through          18          88       27.0

Orders table
   OrderID  CustomerID               OrderDate  TotalAmount
0        1         462 2020-11-18 00:44:32.337         67.0
1        2         715 2024-05-02 08:09:18.460         96.0
2        3         969 2023-09-29 23:45:31.917          4.0
3        4         489 2022-12-20 10:29:28.987         80.0
4        5         220 2021-08-06 02:55:59.723         55.0
5        6         743 2022-05-30 10:11:17.450         99.0
6        7          11 2020-10-17 13:18:04.907         51.0
7        8         491 2022-03-22 17:29:30.097         59.0
8        9          71 2020-07-06 04:13:44.490         79.0
9       10         948 2021-06-12 20:06:09.867         63.0

/tmp/ipykernel_90071/172073778.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)
/tmp/ipykernel_90071/172073778.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)
/tmp/ipykernel_90071/172073778.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)