### Parsing predicates from TPC-H queries

In [1]:
from tpch_query_predicates_parser import *
import json

In [2]:
# read workload queries from JSON file
def read_workload(workload_filepath):
    workload = []
    with open(workload_filepath) as f:
        line = f.readline()
        # read the queries from each line
        while line:
            workload.append(json.loads(line))
            line = f.readline()

    return workload

# Base directory containing the generated queries
workload_filepath = '../datagen/TPCH_workloads/TPCH_static_100_workload.json'

# Read the workload queries from file
workload = read_workload(workload_filepath)
print(len(workload))

2100

In [3]:
for template_num in range(1, 23):
    query_string = workload[template_num-1]['query_string']
    print(f"Query template: {template_num}")
    print("-" * 80)
    print(query_string)
    print("\nParsed predicates:")
    print("-" * 80)
    predicate_dict = parse_tpch_query(query_string, template_num)
    #print(predicate_dict)
    for table_name, predicates_list in predicate_dict.items():
        print(f"{table_name}:")
        for predicate in predicates_list:
            print("\t",predicate)
    print("\n\n")

Query template: 1
--------------------------------------------------------------------------------
select
	l_returnflag,
	l_linestatus,
	sum(l_quantity) as sum_qty,
	sum(l_extendedprice) as sum_base_price,
	sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
	sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
	avg(l_quantity) as avg_qty,
	avg(l_extendedprice) as avg_price,
	avg(l_discount) as avg_disc,
	count(*) as count_order
from
	lineitem
where
	l_shipdate <= DATEADD(dd, -112, CAST('1998-12-01' AS date))
group by
	l_returnflag,
	l_linestatus
order by
	l_returnflag,
	l_linestatus
;

Parsed predicates:
--------------------------------------------------------------------------------
lineitem:
	 {'column': 'l_shipdate', 'operator': '<=', 'value': "'1998-08-11'", 'join': False}



Query template: 2
--------------------------------------------------------------------------------

select
	s_acctbal,
	s_name,
	n_name,
	p_partkey,
	p_mfgr,
	s_address,
	s_phone,
	s_comment
from
	part,
	supplier,
	partsupp,
	nation,
	region
where
	p_partkey = ps_partkey
	and s_suppkey = ps_suppkey
	and p_size = 43
	and p_type like '%NICKEL'
	and s_nationkey = n_nationkey
	and n_regionkey = r_regionkey
	and r_name = 'AFRICA'
	and ps_supplycost = (
		select
			min(ps_supplycost)
		from
			partsupp,
			supplier,
			nation,
			region
		where
			p_partkey = ps_partkey
			and s_suppkey = ps_suppkey
			and s_nationkey = n_nationkey
			and n_regionkey = r_regionkey
			and r_name = 'AFRICA'
	)
order by
	s_acctbal desc,
	n_name,
	s_name,
	p_partkey

;

Parsed predicates:
--------------------------------------------------------------------------------
part:
	 {'column': 'p_size', 'operator': '=', 'value': '43', 'join': False}
	 {'column': 'p_type', 'operator': 'like', 'value': "'%NICKEL'", 'join': False}
	 {'column': 'p_partkey', 'operator': '=', 'value': 'ps_partkey', 'join': True}
region:
	 {'column': 'r_name', 'operator': '=', 'value': "'AFRICA'", 'join': False}
partsupp:
	 {'column': 'ps_supplycost', 'operator': '=', 'value': 'subquery_min_ps_supplycost', 'join': False}
supplier:
	 {'column': 's_suppkey', 'operator': '=', 'value': 'ps_suppkey', 'join': True}
	 {'column': 's_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}
nation:
	 {'column': 'n_nationkey', 'operator': '=', 'value': 's_nationkey', 'join': True}



Query template: 3
--------------------------------------------------------------------------------

select
	l_orderkey,
	sum(l_extendedprice * (1 - l_discount)) as revenue,
	o_orderdate,
	o_shippriority
from
	customer,
	orders,
	lineitem
where
	c_mktsegment = 'FURNITURE'
	and c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate < CAST('1995-03-01' AS date)
	and l_shipdate > CAST('1995-03-01' AS date)
group by
	l_orderkey,
	o_orderdate,
	o_shippriority
order by
	revenue desc,
	o_orderdate
;

Parsed predicates:
--------------------------------------------------------------------------------
customer:
	 {'column': 'c_mktsegment', 'operator': '=', 'value': "'FURNITURE'", 'join': False}
	 {'column': 'c_custkey', 'operator': '=', 'value': 'o_custkey', 'join': True}
orders:
	 {'column': 'o_orderkey', 'operator': '=', 'value': 'l_orderkey', 'join': True}
	 {'column': 'o_orderdate', 'operator': '<', 'value': '1995-03-01', 'join': False}
lineitem:
	 {'column': 'l_shipdate', 'operator': '>', 'value': '1995-03-01', 'join': False}



Query template: 4
--------------------------------------------------------------------------------
select
	o_orderpriority,
	count(*) as order_count
from
	orders
where
	o_orderdate >= CAST('1993-02-01' AS date)
	and o_orderdate < DATEADD(mm, 3, CAST('1993-02-01' AS date))
	and exists (
		select
			*
		from
			lineitem
		where
			l_orderkey = o_orderkey
			and l_commitdate < l_receiptdate
	)
group by
	o_orderpriority
order by
	o_orderpriority
;

Parsed predicates:
--------------------------------------------------------------------------------
orders:
	 {'column': 'o_orderdate', 'operator': 'range', 'value': ('1993-02-01', '1993-05-02'), 'join': False}
lineitem:
	 {'column': 'l_orderkey', 'operator': '=', 'value': 'o_orderkey', 'join': True}
	 {'column': 'l_commitdate', 'operator': '<', 'value': 'l_receiptdate', 'join': False}



Query template: 5
--------------------------------------------------------------------------------
select
	n_name,
	sum(l_extendedprice * (1 - l_discount)) as revenue
from
	customer,
	orders,
	lineitem,
	supplier,
	nation,
	region
where
	c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and l_suppkey = s_suppkey
	and c_nationkey = s_nationkey
	and s_nationkey = n_nationkey
	and n_regionkey = r_regionkey
	and r_name = 'MIDDLE EAST'
	and o_orderdate >= CAST('1996-01-01' AS date)
	and o_orderdate < DATEADD(yy, 1, CAST('1996-01-01' AS date))
group by
	n_name
order by
	revenue desc
;

Parsed predicates:
--------------------------------------------------------------------------------
region:
	 {'column': 'r_name', 'operator': '=', 'value': "'MIDDLE EAST'", 'join': False}
orders:
	 {'column': 'o_orderdate', 'operator': 'range', 'value': ('1996-01-01', '1997-01-01'), 'join': False}
customer:
	 {'column': 'c_custkey', 'operator': '=', 'value': 'o_custkey', 'join': True}
	 {'column': 'c_nationkey', 'operator': '=', 'value': 's_nationkey', 'join': True}
lineitem:
	 {'column': 'l_orderkey', 'operator': '=', 'value': 'o_orderkey', 'join': True}
	 {'column': 'l_suppkey', 'operator': '=', 'value': 's_suppkey', 'join': True}
supplier:
	 {'column': 's_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}
nation:
	 {'column': 'n_regionkey', 'operator': '=', 'value': 'r_regionkey', 'join': True}



Query template: 6
--------------------------------------------------------------------------------
select
	sum(l_extendedprice * l_discount) as revenue
from
	lineitem
where
	l_shipdate >= CAST('1996-01-01' AS date)
	and l_shipdate < DATEADD(yy, 1, CAST('1996-01-01' AS date))
	and l_discount between 0.08 - 0.01 and 0.08 + 0.01
	and l_quantity < 25
;

Parsed predicates:
--------------------------------------------------------------------------------
lineitem:
	 {'column': 'l_shipdate', 'operator': 'range', 'value': ('1996-01-01', '1997-01-01'), 'join': False}
	 {'column': 'l_discount', 'operator': 'range', 'value': (0.07, 0.09), 'join': False}
	 {'column': 'l_quantity', 'operator': '<', 'value': '25', 'join': False}



Query template: 7
--------------------------------------------------------------------------------
select
	supp_nation,
	cust_nation,
	l_year,
	sum(volume) as revenue
from
	(
		select
			n1.n_name as supp_nation,
			n2.n_name as cust_nation,
			YEAR(l_shipdate) as l_year,
			l_extendedprice * (1 - l_discount) as volume
		from
			supplier,
			lineitem,
			orders,
			customer,
			nation n1,
			nation n2
		where
			s_suppkey = l_suppkey
			and o_orderkey = l_orderkey
			and c_custkey = o_custkey
			and s_nationkey = n1.n_nationkey
			and c_nationkey = n2.n_nationkey
			and (
				(n1.n_name = 'ROMANIA' and n2.n_name = 'VIETNAM')
				or (n1.n_name = 'VIETNAM' and n2.n_name = 'ROMANIA')
			)
			and l_shipdate between CAST('1995-01-01' AS date) and CAST('1996-12-31' AS date)
	) as shipping
group by
	supp_nation,
	cust_nation,
	l_year
order by
	supp_nation,
	cust_nation,
	l_year
;

Parsed predicates:
--------------------------------------------------------------------------------
nation:
	 {'column': 'n_name', 'operator': '=', 'value': "'ROMANIA'", 'join': False}
	 {'column': 'n_name', 'operator': '=', 'value': "'VIETNAM'", 'join': False}
lineitem:
	 {'column': 'l_shipdate', 'operator': 'range', 'value': ('1995-01-01', '1996-12-31'), 'join': False}
supplier:
	 {'column': 's_suppkey', 'operator': '=', 'value': 'l_suppkey', 'join': True}
	 {'column': 's_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}
orders:
	 {'column': 'o_orderkey', 'operator': '=', 'value': 'l_orderkey', 'join': True}
customer:
	 {'column': 'c_custkey', 'operator': '=', 'value': 'o_custkey', 'join': True}
	 {'column': 'c_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}



Query template: 8
--------------------------------------------------------------------------------
select
	o_year,
	sum(case
		when nation = 'VIETNAM' then volume
		else 0
	end) / sum(volume) as mkt_share
from
	(
		select
			YEAR(o_orderdate) as o_year,
			l_extendedprice * (1 - l_discount) as volume,
			n2.n_name as nation
		from
			part,
			supplier,
			lineitem,
			orders,
			customer,
			nation n1,
			nation n2,
			region
		where
			p_partkey = l_partkey
			and s_suppkey = l_suppkey
			and l_orderkey = o_orderkey
			and o_custkey = c_custkey
			and c_nationkey = n1.n_nationkey
			and n1.n_regionkey = r_regionkey
			and r_name = 'ASIA'
			and s_nationkey = n2.n_nationkey
			and o_orderdate between CAST('1995-01-01' AS date) and CAST('1996-12-31' AS date)
			and p_type = 'STANDARD BRUSHED BRASS'
	) as all_nations
group by
	o_year
order by
	o_year
;

Parsed predicates:
--------------------------------------------------------------------------------
region:
	 {'column': 'r_name', 'operator': '=', 'value': "'ASIA'", 'join': False}
orders:
	 {'column': 'o_orderdate', 'operator': 'range', 'value': ('1995-01-01', '1996-12-31'), 'join': False}
part:
	 {'column': 'p_type', 'operator': '=', 'value': "'STANDARD BRUSHED BRASS'", 'join': False}
supplier:
	 {'column': 's_suppkey', 'operator': '=', 'value': 'l_suppkey', 'join': True}
	 {'column': 's_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}
lineitem:
	 {'column': 'l_partkey', 'operator': '=', 'value': 'p_partkey', 'join': True}
	 {'column': 'l_orderkey', 'operator': '=', 'value': 'o_orderkey', 'join': True}
customer:
	 {'column': 'o_custkey', 'operator': '=', 'value': 'c_custkey', 'join': True}
	 {'column': 'c_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}
nation:
	 {'column': 'n_regionkey', 'operator': '=', 'value': 'r_regionkey', 'join': True}
case:
	 {'column': 'nation', 'operator': '=', 'value': "'VIETNAM'", 'join': False}



Query template: 9
--------------------------------------------------------------------------------
select
	nation,
	o_year,
	sum(amount) as sum_profit
from
	(
		select
			n_name as nation,
			YEAR(o_orderdate) as o_year,
			l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity as amount
		from
			part,
			supplier,
			lineitem,
			partsupp,
			orders,
			nation
		where
			s_suppkey = l_suppkey
			and ps_suppkey = l_suppkey
			and ps_partkey = l_partkey
			and p_partkey = l_partkey
			and o_orderkey = l_orderkey
			and s_nationkey = n_nationkey
			and p_name like '%chartreuse%'
	) as profit
group by
	nation,
	o_year
order by
	nation,
	o_year desc
;

Parsed predicates:
--------------------------------------------------------------------------------
part:
	 {'column': 'p_name', 'operator': 'like', 'value': "'%chartreuse%'", 'join': False}
supplier:
	 {'column': 's_suppkey', 'operator': '=', 'value': 'l_suppkey', 'join': True}
	 {'column': 's_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}
lineitem:
	 {'column': 'l_suppkey', 'operator': '=', 'value': 's_suppkey', 'join': True}
	 {'column': 'l_partkey', 'operator': '=', 'value': 'p_partkey', 'join': True}
	 {'column': 'l_orderkey', 'operator': '=', 'value': 'o_orderkey', 'join': True}
partsupp:
	 {'column': 'ps_suppkey', 'operator': '=', 'value': 'l_suppkey', 'join': True}
	 {'column': 'ps_partkey', 'operator': '=', 'value': 'l_partkey', 'join': True}
orders:
	 {'column': 'o_orderkey', 'operator': '=', 'value': 'l_orderkey', 'join': True}
nation:
	 {'column': 's_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}



Query template: 10
--------------------------------------------------------------------------------

select
	c_custkey,
	c_name,
	sum(l_extendedprice * (1 - l_discount)) as revenue,
	c_acctbal,
	n_name,
	c_address,
	c_phone,
	c_comment
from
	customer,
	orders,
	lineitem,
	nation
where
	c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate >= CAST('1994-01-01' AS date)
	and o_orderdate < DATEADD(mm, 3, CAST('1994-01-01' AS date))
	and l_returnflag = 'R'
	and c_nationkey = n_nationkey
group by
	c_custkey,
	c_name,
	c_acctbal,
	c_phone,
	n_name,
	c_address,
	c_comment
order by
	revenue desc
;

Parsed predicates:
--------------------------------------------------------------------------------
orders:
	 {'column': 'o_orderdate', 'operator': 'range', 'value': ('1994-01-01', '1994-04-01'), 'join': False}
lineitem:
	 {'column': 'l_returnflag', 'operator': '=', 'value': "'R'", 'join': False}
	 {'column': 'l_orderkey', 'operator': '=', 'value': 'o_orderkey', 'join': True}
customer:
	 {'column': 'c_custkey', 'operator': '=', 'value': 'o_custkey', 'join': True}
	 {'column': 'c_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}
nation:
	 {'column': 'c_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}



Query template: 11
--------------------------------------------------------------------------------
select
	ps_partkey,
	sum(ps_supplycost * ps_availqty) as value
from
	partsupp,
	supplier,
	nation
where
	ps_suppkey = s_suppkey
	and s_nationkey = n_nationkey
	and n_name = 'ALGERIA'
group by
	ps_partkey having
		sum(ps_supplycost * ps_availqty) > (
			select
				sum(ps_supplycost * ps_availqty) * 0.0001000000
			from
				partsupp,
				supplier,
				nation
			where
				ps_suppkey = s_suppkey
				and s_nationkey = n_nationkey
				and n_name = 'ALGERIA'
		)
order by
	value desc
;

Parsed predicates:
--------------------------------------------------------------------------------
nation:
	 {'column': 'n_name', 'operator': '=', 'value': "'ALGERIA'", 'join': False}
partsupp:
	 {'column': 'ps_suppkey', 'operator': '=', 'value': 's_suppkey', 'join': True}
supplier:
	 {'column': 's_nationkey', 'operator': '=', 'value': 'n_nationkey', 'join': True}



Query template: 12
--------------------------------------------------------------------------------
select
	l_shipmode,
	sum(case
		when o_orderpriority = '1-URGENT'
			or o_orderpriority = '2-HIGH'
			then 1
		else 0
	end) as high_line_count,
	sum(case
		when o_orderpriority <> '1-URGENT'
			and o_orderpriority <> '2-HIGH'
			then 1
		else 0
	end) as low_line_count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_shipmode in ('MAIL', 'REG AIR')
	and l_commitdate < l_receiptdate
	and l_shipdate < l_commitdate
	and l_receiptdate >= CAST('1995-01-01' AS date)
	and l_receiptdate < DATEADD(yy, 1, CAST('1995-01-01' AS date))
group by
	l_shipmode
order by
	l_shipmode
;

Parsed predicates:
--------------------------------------------------------------------------------
lineitem:
	 {'column': 'l_shipmode', 'operator': 'or', 'value': ['MAIL', 'REG AIR'], 'join': False}
	 {'column': 'l_commitdate', 'operator': '<', 'value': 'l_receiptdate', 'join': False}
	 {'column': 'l_shipdate', 'operator': '<', 'value': 'l_commitdate', 'join': False}
	 {'column': 'l_receiptdate', 'operator': 'range', 'value': ('1995-01-01', '1996-01-01'), 'join': False}
orders:
	 {'column': 'o_orderkey', 'operator': '=', 'value': 'l_orderkey', 'join': True}



Query template: 13
--------------------------------------------------------------------------------
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey)
		from
			customer left outer join orders on
				c_custkey = o_custkey
				and o_comment not like '%unusual%packages%'
		group by
			c_custkey
	) as c_orders (c_custkey, c_count)
group by
	c_count
order by
	custdist desc,
	c_count desc
;

Parsed predicates:
--------------------------------------------------------------------------------
customer:
	 {'column': 'c_custkey', 'operator': '=', 'value': 'o_custkey', 'join': True}
	 {'column': 'o_comment', 'operator': 'NOT LIKE', 'value': "'%unusual%packages%'", 'join': False}



Query template: 14
--------------------------------------------------------------------------------
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= CAST('1993-04-01' AS date)
	and l_shipdate < DATEADD(mm, 1, CAST('1993-04-01' AS date))
;

Parsed predicates:
--------------------------------------------------------------------------------
part:
	 {'column': 'p_type', 'operator': 'LIKE', 'value': "'PROMO%'", 'join': False}
lineitem:
	 {'column': 'l_partkey', 'operator': '=', 'value': 'p_partkey', 'join': True}
	 {'column': 'l_shipdate', 'operator': 'range', 'value': ('1993-04-01', '1993-05-01'), 'join': False}



Query template: 15
--------------------------------------------------------------------------------
select
	p_brand,
	p_type,
	p_size,
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_brand <> 'Brand#14'
	and p_type not like 'ECONOMY BURNISHED%'
	and p_size in (2, 38, 12, 49, 8, 16, 25, 22)
	and ps_suppkey not in (
		select
			s_suppkey
		from
			supplier
		where
			s_comment like '%Customer%Complaints%'
	)
group by
	p_brand,
	p_type,
	p_size
order by
	supplier_cnt desc,
	p_brand,
	p_type,
	p_size
;

Parsed predicates:
--------------------------------------------------------------------------------
part:
	 {'column': 'p_brand', 'operator': 'neq', 'value': "'Brand#14'", 'join': False}
	 {'column': 'p_type', 'operator': 'NOT LIKE', 'value': "'ECONOMY BURNISHED%'", 'join': False}
	 {'column': 'p_size', 'operator': 'or', 'value': [2, 38, 12, 49, 8, 16, 25, 22], 'join': False}
partsupp:
	 {'column': 'p_partkey', 'operator': '=', 'value': 'ps_partkey', 'join': True}
supplier:
	 {'column': 's_comment', 'operator': 'LIKE', 'value': "'%Customer%Complaints%'", 'join': False}



Query template: 16
--------------------------------------------------------------------------------
select
	sum(l_extendedprice) / 7.0 as avg_yearly
from
	lineitem,
	part
where
	p_partkey = l_partkey
	and p_brand = 'Brand#44'
	and p_container = 'SM BOX'
	and l_quantity < (
		select
			0.2 * avg(l_quantity)
		from
			lineitem
		where
			l_partkey = p_partkey
	)
;

Parsed predicates:
--------------------------------------------------------------------------------
part:
	 {'column': 'p_brand', 'operator': '=', 'value': "'Brand#44'", 'join': False}
	 {'column': 'p_container', 'operator': '=', 'value': "'SM BOX'", 'join': False}
	 {'column': 'p_partkey', 'operator': '=', 'value': 'l_partkey', 'join': True}



Query template: 17
--------------------------------------------------------------------------------

select
	c_name,
	c_custkey,
	o_orderkey,
	o_orderdate,
	o_totalprice,
	sum(l_quantity)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > 314
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey
group by
	c_name,
	c_custkey,
	o_orderkey,
	o_orderdate,
	o_totalprice
order by
	o_totalprice desc,
	o_orderdate
;

Parsed predicates:
--------------------------------------------------------------------------------
customer:
	 {'column': 'c_custkey', 'operator': '=', 'value': 'o_custkey', 'join': True}
orders:
	 {'column': 'o_orderkey', 'operator': '=', 'value': 'l_orderkey', 'join': True}



Query template: 18
--------------------------------------------------------------------------------
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
		and p_brand = 'Brand#14'
		and p_container in ('SM CASE', 'SM BOX', 'SM PACK', 'SM PKG')
		and l_quantity >= 5 and l_quantity <= 5 + 10
		and p_size between 1 and 5
		and l_shipmode in ('AIR', 'AIR REG')
		and l_shipinstruct = 'DELIVER IN PERSON'
	)
	or
	(
		p_partkey = l_partkey
		and p_brand = 'Brand#15'
		and p_container in ('MED BAG', 'MED BOX', 'MED PKG', 'MED PACK')
		and l_quantity >= 13 and l_quantity <= 13 + 10