#### Simple experiments with Non-clustered indices

In [15]:
import logging
import datetime
import os
import subprocess
import uuid

import pyodbc
import sys
import random
import pandas as pd
import time
import os
from tqdm import tqdm
import logging
import re
import json
import xml.etree.ElementTree as ET
import itertools
import math
from collections import defaultdict
from tqdm import tqdm

%load_ext autoreload
%autoreload 2

import IPython
notebook_path = IPython.get_ipython().starting_dir
target_subdirectory_path = os.path.abspath(os.path.join(os.path.dirname(notebook_path), 'database'))
sys.path.append(target_subdirectory_path)
from utils import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
# first get a list of all tables in the database and print out their columns

connection = start_connection() 
tables = get_all_tables(connection)

# show details about columns, primary keys, row count 
for _, table in tables.items():
    print(f"\nTable: {table.table_name}")
    print(f"row count: {table.row_count}")
    print(f"Columns: {[c.column_name for _, c in table.columns.items()]}")
    print(f"Primary Key: {table.pk_columns}")

    # display the first 5 rows 
    display_table(connection, table, max_tuples=5)

close_connection(connection)

Table: customer
row count: 150000
Columns: ['c_custkey', 'c_name', 'c_address', 'c_nationkey', 'c_phone', 'c_acctbal', 'c_mktsegment', 'c_comment']
Primary Key: ['c_custkey']
   c_custkey              c_name                       c_address  c_nationkey          c_phone c_acctbal c_mktsegment                                          c_comment
0          1  Customer#000000001               IVhzIApeRb ot,c,E           15  25-989-741-2988    711.56   BUILDING    to the even, regular platelets. regular, ironi...
1          2  Customer#000000002  XSTf4,NCwDVaWNe6tEgvwfmRchLXak           13  23-768-687-3665    121.65   AUTOMOBILE  l accounts. blithely ironic theodolites integr...
2          3  Customer#000000003                    MG9kdTD2WBHm            1  11-719-748-3364   7498.12   AUTOMOBILE   deposits eat slyly ironic, even instructions....
3          4  Customer#000000004                     XxVSJsLAGtn            4  14-128-190-5944   2866.83   MACHINERY    requests. final, regular ideas sleep final ac...
4          5  Customer#000000005    KvpyuHCplrB84WgAiGV6sYpZq7Tj            3  13-750-942-6364    794.47   HOUSEHOLD   n accounts will have to unwind. foxes cajole a...

Table: orders
row count: 1500000
Columns: ['o_orderkey', 'o_custkey', 'o_orderstatus', 'o_totalprice', 'o_orderdate', 'o_orderpriority', 'o_clerk', 'o_shippriority', 'o_comment']
Primary Key: ['o_orderkey']
   o_orderkey  o_custkey o_orderstatus o_totalprice o_orderdate  o_orderpriority          o_clerk  o_shippriority                                          o_comment
0           1      36901             O    173665.47  1996-01-02  5-LOW            Clerk#000000951               0                nstructions sleep furiously among |
1           2      78002             O     46929.18  1996-12-01  1-URGENT         Clerk#000000880               0   foxes. pending accounts at the pending, silen...
2           3     123314             F    193846.25  1993-10-14  5-LOW            Clerk#000000955               0  sly final accounts boost. carefully regular id...
3           4     136777             O     32151.78  1995-10-11  5-LOW            Clerk#000000124               0  sits. slyly regular warthogs cajole. regular, ...
4           5      44485             F    144659.20  1994-07-30  5-LOW            Clerk#000000925               0  quickly. bold deposits sleep slyly. packages u...

Table: lineitem
row count: 6001215
Columns: ['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']
Primary Key: ['l_linenumber', 'l_orderkey']
   l_orderkey  l_partkey  l_suppkey  l_linenumber l_quantity l_extendedprice l_discount l_tax l_returnflag l_linestatus  l_shipdate l_commitdate l_receiptdate             l_shipinstruct  l_shipmode                            l_comment
0           1     155190       7706             1      17.00        21168.23       0.04  0.02            N            O  1996-03-13   1996-02-12    1996-03-22  DELIVER IN PERSON          TRUCK                  egular courts above the|
1           1      67310       7311             2      36.00        45983.16       0.09  0.06            N            O  1996-04-12   1996-02-28    1996-04-20  TAKE BACK RETURN           MAIL        ly final dependencies: slyly bold |
2           1      63700       3701             3       8.00        13309.60       0.10  0.02            N            O  1996-01-29   1996-03-05    1996-01-31  TAKE BACK RETURN           REG AIR          riously. regular, express dep|
3           1       2132       4633             4      28.00        28955.64       0.09  0.06            N            O  1996-04-21   1996-03-30    1996-05-16  NONE                       AIR                    lites. fluffily even de|
4           1      24027       1534             5      24.00        22824.48       0.10  0.04            N            O  1996-03-30   1996-03-14    1996-04-01  NONE                       FOB                    pending foxes. slyly re|

Table: part
row count: 200000
Columns: ['p_partkey', 'p_name', 'p_mfgr', 'p_brand', 'p_type', 'p_size', 'p_container', 'p_retailprice', 'p_comment']
Primary Key: ['p_partkey']
   p_partkey                                    p_name                     p_mfgr     p_brand                   p_type  p_size p_container p_retailprice             p_comment
0          1  goldenrod lavender spring chocolate lace  Manufacturer#1             Brand#13     PROMO BURNISHED COPPER       7  JUMBO PKG         901.00      ly. slyly ironi|
1          2          blush thistle blue yellow saddle  Manufacturer#1             Brand#13        LARGE BRUSHED BRASS       1  LG CASE           902.00     lar accounts amo|
2          3       spring green yellow purple cornsilk  Manufacturer#4             Brand#42    STANDARD POLISHED BRASS      21  WRAP CASE         903.00  egular deposits hag|
3          4     cornflower chocolate smoke green pink  Manufacturer#3             Brand#34         SMALL PLATED BRASS      14  MED DRUM          904.00        p furiously r|
4          5             forest brown coral puff cream  Manufacturer#3             Brand#32      STANDARD POLISHED TIN      15  SM PKG            905.00      wake carefully |

Table: supplier
row count: 10000
Columns: ['s_suppkey', 's_name', 's_address', 's_nationkey', 's_phone', 's_acctbal', 's_comment']
Primary Key: ['s_suppkey']
   s_suppkey                     s_name                            s_address  s_nationkey          s_phone s_acctbal                                          s_comment
0          1  Supplier#000000001          N kD4on9OM Ipw3,gf0JBoQDd7tgrzrddZ           17  27-918-335-1736   5755.94                      each slyly above the careful|
1          2  Supplier#000000002                       89eJ5ksX3ImxJQBvxObC,            5  15-679-861-2259   4032.68            slyly bold instructions. idle dependen|
2          3  Supplier#000000003           q1,G3Pj6OjIuUYfUoH18BFTKP5aU9bEV3            1  11-383-516-1199   4192.40  blithely silent requests after the express dep...
3          4  Supplier#000000004                   Bk7ah4CK8SYQTepEmvMkkgMwg           15  25-843-787-7479   4641.08               riously even requests above the exp|
4          5  Supplier#000000005                           Gcdm2rJRzl5qlTVzc           11  21-151-690-3663   -283.84                         . slyly regular pinto bea|

Table: partsupp
row count: 800000
Columns: ['ps_partkey', 'ps_suppkey', 'ps_availqty', 'ps_supplycost', 'ps_comment']
Primary Key: ['ps_partkey', 'ps_suppkey']
   ps_partkey  ps_suppkey  ps_availqty ps_supplycost                                         ps_comment
0           1           2         3325        771.64  , even theodolites. regular, final theodolites...
1           1        2502         8076        993.49  ven ideas. quickly even packages print. pendin...
2           1        5002         3956        337.09  after the fluffily ironic deposits? blithely s...
3           1        7502         4069        357.84  al, regular dependencies serve carefully after...
4           2           3         8895        378.49  nic accounts. final accounts sleep furiously a...

Table: nation
row count: 25
Columns: ['n_nationkey', 'n_name', 'n_regionkey', 'n_comment']
Primary Key: ['n_nationkey']
   n_nationkey                     n_name  n_regionkey                                          n_comment
0            0  ALGERIA                              0   haggle. carefully final deposits detect slyly...
1            1  ARGENTINA                            1  al foxes promise slyly according to the regula...
2            2  BRAZIL                               1  y alongside of the pending deposits. carefully...
3            3  CANADA                               1  eas hang ironic, silent packages. slyly regula...
4            4  EGYPT                                4  y above the carefully unusual theodolites. fin...

Table: region
row count: 5
Columns: ['r_regionkey', 'r_name', 'r_comment']
Primary Key: ['r_regionkey']
   r_regionkey                     r_name                                          r_comment
0            0  AFRICA                     lar deposits. blithely final packages cajole. ...
1            1  AMERICA                                     hs use ironic, even requests. s|
2            2  ASIA                                        ges. thinly even pinto beans ca|
3            3  EUROPE                        ly final courts cajole furiously final excuse|
4            4  MIDDLE EAST                uickly special accounts cajole carefully blith...

In [26]:
def create_index(table_name, index_columns, include_columns):
    index_id = get_index_id(index_columns, table_name, include_columns)
    index_size = get_estimated_index_size(connection, table_name, index_columns + list(include_columns))
    print(f"index_id: {index_id}, index columns: {index_columns}, include columns: {include_columns}, index size: {index_size:.2f} Mb")
    # create the index 
    index = Index(table_name, index_id, index_columns, index_size, tuple(include_columns))
    index_creation_time = create_nonclustered_index_object(connection, index, verbose=True)
    return index_creation_time

#### Exp1: Simple SELECT queries

In this simple experiment, we will execute this simple select query: `SELECT c_name, c_address, c_phone FROM customer WHERE c_name = 'Customer#000000123'`

Without an index on the customer table, the query execution will involve a sequential scan over the table heap to find the tuple that matches the predicate, i.e. customer name = `Customer#000000123`. This is significantly slower compared to if we have a non-clustered index on the c_name column, where the index (B+ tree) is sorted by customer name so we can locate the customer name by performing binary search on the tree, then following the record_id pointer to directly find the tuple in the table.

With include columns on `('c_address', 'c_phone')`, we then have a covering index, which further improves performance because we don't need to retreive any data from the table itself, all the attributes are available from the index itself since index leaf nodes store all three attributes `c_name, c_address, c_phone`.

In [29]:
connection = start_connection()

# first, clear out all existing non clustered indices
remove_all_nonclustered_indexes(connection)

# define a test query for selecting customer name, address and phone columns for a specific customer
query = """
        SELECT c_name, c_address, c_phone FROM customer WHERE c_name = 'Customer#000000123';
        """

"""
        Query execution with no index
"""
cost , _, _ = execute_query(query, connection)
print(f"Cost of query with no index: {cost} seconds")


""" 
        Query execution with non clustered index on c_name and no include cloumns
"""
# now create a non clustered index on column c_name
table_name = 'customer'
index_columns = ['c_name']
include_columns = ()
create_index(table_name, index_columns, include_columns)
# execute the query
cost , _, _ = execute_query(query, connection)
print(f"\nCost of query with index and no include columns: {cost} seconds")

# clear out all existing non clustered indices
remove_all_nonclustered_indexes(connection)

"""
        Query execution with non clustered index on c_name and include columns c_address, c_phone, this is a covering index for the query
"""
# now create a non clustered index on column c_name
table_name = 'customer'
index_columns = ['c_name']
include_columns = ('c_address', 'c_phone')
create_index(table_name, index_columns, include_columns)
# execute the query
cost , _, _ = execute_query(query, connection)
print(f"\nCost of query with index and include columns: {cost} seconds")

# clear out all existing non clustered indices
remove_all_nonclustered_indexes(connection)

close_connection(connection)

All non-clustered indexes --> []
All nonclustered indexes removed.
Cost of query with no index: 0.109 seconds
index_id: IX_customer_c_name, index columns: ['c_name'], include columns: (), index size: 4.72 Mb
Created index --> [dbo].[customer].[IX_customer_c_name], Indexed Columns --> ['c_name'], Included Columns --> (), index creation time: 0.304 seconds

Cost of query with index and no include columns: 0.0 seconds
All non-clustered indexes --> [('dbo', 'customer', 'IX_customer_c_name')]
All nonclustered indexes removed.
index_id: IXN_customer_c_name_c_ad_c_ph, index columns: ['c_name'], include columns: ('c_address', 'c_phone'), index size: 10.73 Mb
Created index --> [dbo].[customer].[IXN_customer_c_name_c_ad_c_ph], Indexed Columns --> ['c_name'], Included Columns --> ('c_address', 'c_phone'), index creation time: 0.519 seconds

Cost of query with index and include columns: 0.0 seconds
All non-clustered indexes --> [('dbo', 'customer', 'IXN_customer_c_name_c_ad_c_ph')]
All nonclustered indexes removed.